@charset "utf-8";

:root{
  --main-color:#D91226;
  --sub-color : #57423F;
  --sub-light : #796865;
  --en-font :'bobaesumjindo, , sans-serif'; 
  --ko-font :'WantedSans, , sans-serif'; 
}

html {overflow-x: hidden; scroll-behavior: smooth;}
body { overflow-x: hidden; font-size: 1.6rem; font-family: 'bobaesumjindo', 'WantedSans', sans-serif; font-weight: 400; line-height: 1.5; color: #232323; background: #fff;}
#wrap{ margin:  0 auto; width: 100%;}
.inner{ margin:  0 5%;}
h2 {font-size: 4rem; font-weight: 800; line-height: 120%; display: inline-block;}
h2::before { display: block; color: var(--main-color); font-size: 1.2rem; font-weight: 400; line-height: 2; letter-spacing: 0.6px;} 

section {position: relative;}
a.all_view { position: absolute; right: 0; top: 25px; display: block; color: var(--sub-light); line-height: 1.5; padding: 3px 12px; transition: all 0.5s;}
a.all_store { position: absolute;  right: 5%; top: 194px; display: block; color: var(--sub-light); line-height: 1.5; padding: 3px 12px; transition: all 0.5s;}
a.all_view:hover, a.all_store:hover{ color: var(--sub-color);}

@media(max-width:900px){
 h2{ padding: 0 2% 0; font-size: 3.5rem; font-weight: 700; }
}

@media(max-width:890px){
  /* store section a */
  #life_store a.all_store { position: static; width: 160px; margin: 40px auto 0; position: static; text-align: center;  border: 1px solid var(--sub-light); }
  #life_store a.all_store:hover{ border-color: var(--sub-color);}
 }

 @media(max-width:580px){
  h2{font-size: 3rem;}
  a.all_view, a.all_store{font-size: 1.4rem;}
 }

 @media(max-width:430px){
  a.all_view { width: 160px; margin: 40px auto 0; position: static; text-align: center;  border: 1px solid var(--sub-light); }
}

/* swiper-btn */
.swiper-button-next::after, .swiper-button-prev::after {display: none;}

/* header */
#header .container{ margin: 0; width: 100%; padding: 10px 2%; display: flex; justify-content: space-between; align-items: center;}
#header h1 .logo{ display: block; width: 200px; height: 40px; background: url(../img/common/logo.png) no-repeat center / 100%;}

nav { display: flex; align-items: center;}
#header nav>a { display: block;  padding: 10px; color: #222; font-size: 4rem; line-height: 0;}
#header nav>.ham {font-size: 4.5rem;}
#header nav>a:hover {color: var(--main-color);}
#header .shop { display: block; font-size: 1.6rem; font-weight: 500; text-align: center; color: var(--main-color); border: 2px solid var(--main-color); padding: 6px 18px; border-radius: 100px; }
#header .shop:hover { color: #fff; background: var(--main-color); }
#header .icon_shop {display: none;}

@media(max-width:1200px){
  #header nav > .bi {padding: 5px;}
  #header nav>.ham {font-size: 4rem;}
  #header nav>.login {font-size: 3.5rem;}
  #header .shop {font-size: 1.4rem; padding: 4px 16px 5px; border-width: 2px;}
}

@media(max-width:900px){
  #header h1 .logo {width: 80px;}
  #header nav>.ham {font-size: 3.5rem;}
  #header nav>.login {font-size: 3rem;}
  #header .shop {font-size: 1.2rem; border-width: 1px;}
}

@media(max-width:480px){
  #header .container {padding: 6px 2%;}
  #header nav {order: 2;}
  #header nav > .bi {padding: 3px;}
  #header nav>.ham {font-size: 2.5rem;}
  #header nav>.login {font-size: 2.3rem;}
  #header .shop {display: none;}
}

/* 메뉴 전체보기 */
#header .mgnb_wrap {  background: #fff; z-index: 99; font-family: var(--ko-font); text-align: center; padding: 100px 5%; position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.tit {padding: 50px 0 0;}
#header .mgnb_wrap .m_gnb_inner {padding: 50px 80px;}
#header .m_gnb {display: flex; flex-wrap: wrap;}
#header .mgnb_wrap a{display: block;}
#header .mgnb_wrap .m_gnb {display: flex; justify-content: space-around;}
#header .mgnb_wrap .m_gnb>li {padding: 100px 40px; text-align: center; }
#header .mgnb_wrap .m_gnb>li>a{ font-size: 2rem; font-weight: 700; padding: 0 20px; pointer-events: none;}

#header .m_gnb > li .m_depth2 {margin-top: 30px;}
#header .mgnb_wrap .m_gnb .m_depth2 a{font-size: 1.6rem; font-weight: 500; padding: 3px 20px; opacity: 0.7;}

#header .mgnb_wrap ul>li:hover>a{color: #fff;}
#header .mgnb_wrap .m_gnb>li:hover {background-color: var(--main-color);}
#header .mgnb_wrap .m_gnb>li:hover .m_depth2 a {color: #fff;}
#header .mgnb_wrap .m_gnb .m_depth2 a:hover { opacity: 1;}

#header .mgnb_wrap .mgnb_close { color: #222; font-size: 5rem; border: 0; background: #fff; padding: 30px; cursor: pointer; position: absolute; right: 0; top: 0; }

@media(max-width:1200px){
  #header .mgnb_wrap::-webkit-scrollbar{display: none;}
  #header .mgnb_wrap{overflow: auto;} /* mgnb영역에서 스크롤 설정 */
  #header .mgnb_wrap .m_gnb_inner .m_gnb > li{width: 50%;}
}

@media(max-width:1010px){
  #header .mgnb_wrap .m_depth2 a {font-size: 1.4rem;}
  #header .mgnb_wrap .mgnb_close { font-size: 4rem; }
}

@media(max-width:768px){
  #header .mgnb_wrap .m_gnb_inner .m_gnb > li { width: 100%; margin-bottom: 10px; padding: 20px 0;}
  #header .m_gnb > li > a {font-size: 2rem; padding: 20px 0; }
  #header .m_gnb > li .m_depth2 {display: none; margin-top: 20px;}
  #header .m_gnb > li .m_depth2 > li a {font-size: 1.6rem; padding: 10px 0;}
  #header .mgnb_wrap .mgnb_close { font-size: 3.5rem; }
}

/* main_visual */
#main_visual { width: 100%; }
.main_banner, .main_banner ul, .main_banner ul li {height: 100%;}
.main_banner ul li img {width: 100%; }
.main_banner img.mobile {display: none;}

@media(max-width: 860px){
  .main_banner img.web{display: none;}
  .main_banner img.mobile {display: block;}
}

/* quick_link */
#quick_link {padding: 60px 0; width: 100%;}
#quick_link .inner { display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;}
.quick_con { width: calc((100% / 3) - 20px); padding: 50px 35px; display: flex; flex-direction: column; justify-content: space-around; gap: 16px; text-align: center; border-radius:3px; box-shadow: 0px 2px 15px rgb(100 100 100 / 0); transition: all 0.3s;}
.quick_con:hover {box-shadow: 0px 2px 15px rgb(100 100 100 / 6%);}

#quick_link .inner .quick_con>h3 {font-family: var(--ko-font); font-size: 1.4rem; font-weight: 400; margin: 6px 0 20px; white-space: nowrap; color: var(--sub-color);}
#quick_link .inner .quick_con a {width: 70%; margin: 0 auto; display: block; text-align: center; font-weight: 500; font-size: 2rem; color: var(--main-color); padding: 4px 0 8px; border: 2px solid var(--main-color); border-radius: 200px; cursor: pointer;}
#quick_link .inner .quick_con a:hover {background: var(--main-color); color: #fff;}

#quick_link .inner .quick_con .icon_img{ width: 60px; margin: 20px auto 0;}
#quick_link .inner .quick_con .icon_img>img{ width: 100%;}

@media(max-width:1200px){

  #quick_link .btn {font-size: 1.8rem; font-weight: 600;}
}

@media(max-width:890px){
  .quick_con:hover {transform: scale(1);}
  #quick_link .inner .quick_con>h3 {display: none;}
  #quick_link .inner .quick_con a { font-size: 1.8rem; padding: 2px 0 3px; width: 100%; border-width: 1px;}
}

@media(max-width:760px){
  .quick_con {padding: 12px;}
  #quick_link .inner .quick_con .icon_img {margin: 10px auto;}
  #quick_link .inner .quick_con .icon_img>img {width: 50px;}
}

@media(max-width:530px){
  #quick_link {padding:  30px 0 ;}
  #quick_link .inner {gap: 0px;}
  .quick_con { width: calc(100% / 3); height: 0;  box-shadow: 0px 0px rgba(255, 255, 255, 0);}
  #quick_link .inner .quick_con a { width: 100%; font-size: 1.4rem;}
  #quick_link .inner .quick_con .icon_img {display: none;}
  #quick_link .btn {font-size: 1.6rem; padding: 5px 20px;}
}

/* menu */
#menu {padding: 80px 0;}
#menu h2::before {content: "Everyday Hollys";}
#menu .tab_wrap {display: flex; flex-wrap: wrap; align-items: flex-end;}
.tab_wrap .tab_btn {width: 25%; z-index: 3; background: #fefefe;}
.tab_wrap .tab_con {width: 75%;}
.tab_wrap .tab_con .swiper-wrapper {width: 100%;}

.menu_type {font-size: 2.5rem; padding: 10px; margin-bottom: 37px; width: 210px; color: var(--sub-light); border-bottom: 1px solid var(--sub-light); cursor: pointer; transition: all 0.5s;}
.menu_type.active, .menu_type:hover { border-bottom: 2px solid var(--main-color); color: var(--main-color);}

.menu .menu_slide {padding-top: 20px; position: relative; width: 100%; height: auto;}
.menu .menu_slide img {display: block; width: 100%; padding-bottom: 30px; transform: scale(0.9); transition: all 0.5s;}
.menu .swiper-slide-active img {transform: scale(1.3);}
.menu .menu_slide a{display: block; width: 100%; margin: 0 auto; padding: 14px 13px; text-align: center; background-color: var(--sub-color); color: #fefefe; border-radius: 3px; transform: scale(0.8); transition: all 0.5s;}
.menu .swiper-slide-active a {transform: scale(1);}

@media (max-width:1200px) {
  .tab_wrap .tab_btn {width: 100%; display: flex; padding-top: 30px; text-align: center; gap: 10px;}
  .tab_wrap .tab_con {width: 100%;}
}

@media (max-width:890px) {
  .tab_wrap .tab_btn li {font-size: 1.8rem;}
  .menu_type {width: 160px;}
  .menu .menu_slide {padding: 0;}
  .menu .menu_slide {width: 100%;}
  .menu .menu_slide img, .menu .swiper-slide-active img { margin: 0 auto; transform: scale(1);}
  .menu .menu_slide a, .menu .swiper-slide-active a { width: 100%; font-size: 1.4rem; padding: 10px 8px;  transform: scale(1);}
}

@media (max-width:750px) {
  .menu_type {padding: 8px;}
  .tab_wrap .tab_btn li {font-size: 1.6rem;}
  .menu .menu_slide {width: auto;}
  /* .menu .menu_slide img, .menu .swiper-slide-active img {width: auto;} */
  .menu .menu_slide a, .menu .swiper-slide-active a { width: 80%;}
}

@media (max-width:890px) {
  .line_design {height: 230px; margin: 40px auto 60px;} 
}

@media (max-width:680px) {
  #menu {padding: 80px 0 30px;}
  .line_design {height: 150px; margin: 30px auto 50px; } 
}

/* store */
#store {padding: 100px 0; text-align: center; font-size: 1.8rem; font-weight: 500;}
#store h2 {padding-bottom: 80px; text-align: left; font-size: 4rem;}
#store h2::before {content: "Various stores";}
#store .store_list  {position: relative; width: 100%;}
.store_list .swiper-slide {width: 325px;}
.store_list .swiper-slide .img {position: relative;  transform: scale(0.75); overflow: hidden; padding-bottom: 136.2%;transition: all 0.5s; }
.store_list .swiper-slide .img img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;  border-radius: 7px;}
.store_list .swiper-slide-active .img {transform: scale(1); }
.store_list .swiper-slide p { position: absolute; bottom: 60px; left: 0; margin-top: 20px; transform: scale(0.75); transition: all 0.4s; border-radius: 0 0 7px 7px; font-size: 1.8rem; font-weight: 500; width: 100%; padding: 12px 20px; background-color: #222; color: #fff;}
.store_list .swiper-slide-active p {transform: scale(1); bottom: 0;}

.swiper-button-next .swiper-button-prev {opacity: 0;}
.controller .bi-chevron-right {font-size: 5rem; color: #222; font-weight: 700; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.controller .bi-chevron-left {font-size: 5rem; color: #222; font-weight: 700; position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

@media (max-width:1200px){
.store_list .swiper-slide .img img {height: 80%;}
.store_list .swiper-slide p { bottom: 95px; font-size: 1.6rem;}
.store_list .swiper-slide-active p { bottom: 75px;}
.controller .bi-chevron-right, .controller .bi-chevron-left {font-size: 4rem;}
}

@media (max-width:960px){
  #store h2 { font-size: 3rem; padding-bottom: 40px; text-align: center;}
  .store_list .swiper-slide .img img {height: 80%;}
  .store_list .swiper-slide p { bottom: 65px; font-size: 1.4rem; font-weight: 400;}
  .store_list .swiper-slide-active p { bottom: 45px;}
  .controller .bi-chevron-right, .controller .bi-chevron-left {font-size: 3rem;}
  }

  @media (max-width:680px){
    #store {padding: 50px;}
    #store h2 { font-size: 2.8rem;}
    .store_list .swiper-slide p, .store_list .swiper-slide-active p,
    .store_list .swiper-slide .img, .store_list .swiper-slide-active .img {transform: scale(1);}
    .store_list .swiper-slide p, .store_list .swiper-slide-active p {left: 0; bottom: 20%;}
    .controller .bi-chevron-right, .controller .bi-chevron-left {display: none;}
    }

/* life_store */
#life_store {padding: 150px 0;}
#life_store h2 {margin-bottom: 50px;}
#life_store h2::before {content: "Life style with Hollys";}
#life_store ul { display: flex; flex-wrap: wrap; gap: 24px;}
#life_store ul li { position: relative; width: calc((50% - 48px)/2); height: 480px; border-radius: 5px; overflow: hidden; transition: all 0.8s;}
#life_store ul li:nth-child(1) { background: linear-gradient(rgba(12, 12, 12, 0.1) 60%, rgba(0, 0, 0, 0.6)), url(../img/store_01.jpg) no-repeat center/cover;}
#life_store ul li:nth-child(2) { background: linear-gradient(rgba(12, 12, 12, 0.1) 60%, rgba(0, 0, 0, 0.6)), url(../img/store_02.jpg) no-repeat center/cover;}
#life_store ul li:nth-child(3) { background: linear-gradient(rgba(12, 12, 12, 0.1) 60%, rgba(0, 0, 0, 0.6)), url(../img/store_03.jpeg) no-repeat center/cover;}
#life_store ul li dl { position: absolute; color: #fff; bottom: 10%; left: 5%; transition: all 0.8s; }
#life_store ul li dl dt{ font-size: 1.8rem; font-weight: 400; line-height: 1.2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%; transition: all 0.8s; }
#life_store ul li dl dt span{ display: block; font-size: 3.5rem; padding:0; font-weight: 500; transition: all 0.8s; }
#life_store ul li dl dd { padding-top: 18px; opacity: 0; font-weight: 300; color: #eee; white-space: nowrap; word-break: keep-all; transition: all 0.3s; }
#life_store ul li dl dd span{ margin-right: 3px; letter-spacing: 1px; font-family: var(--ko-font);}

#life_store ul li.active { width: 50%;}
#life_store ul li.active dl dd { opacity: 0.8;}
#life_store ul li.active dl dt span { font-size: 4rem; white-space: nowrap;}

@media(max-width:890px){
  #life_store {padding: 80px 0;}
  #life_store h2 {margin-bottom: 30px;}
  #life_store h2>span { display: none;}
  #life_store ul li, #life_store ul li.active { width: 100%; height: 330px;}
  #life_store ul li dl dt span, #life_store ul li.active dl dt span {font-size: 3.5rem;}
  #life_store ul li dl dd span {display: none;}
}
@media(max-width:480px){
  #life_store { padding: 80px 0;}
  #life_store ul { gap: 12px;}
  #life_store ul li, #life_store ul li.active { height: 200px;}
  #life_store ul li dl { bottom: 0;}
}

/* about */
#about {text-align: center; padding: 100px 80px 20px;}
#about .swiper_about {overflow: hidden;}
#about .swiper_about .swiper-wrapper {position: relative;}
#about .swiper_about .swiper-slide {width: 100%; height: 650px; display: flex; flex-wrap: wrap; position: relative;}

#about .swiper_about .left_box { width: 50%; height: 100%; padding: 0 100px; }
#about .swiper_about .left_box h3{font-size: 4rem; font-weight: 800; word-break: keep-all; padding: 100px 0 250px;}
#about .swiper_about .txt_box {width: 100%; margin-top: 50px; font-size: 1.8rem; word-break: keep-all;}

#about .swiper_about a{display: block; width: 90%; margin: 8px auto; font-family: var(--ko-font); padding: 4px 0 8px; text-align: center; font-size: 2.3rem; border: 1px solid var(--main-color); color: var(--main-color); border-radius: 200px;}
#about .swiper_about a:hover{ background: var(--main-color); color: #fff;}

#about .swiper_about .right_box {width: 50%; overflow: hidden;}
#about .swiper_about .right_box img {width: 100%; margin: auto 0;}

/* #about .swiper_about .controller { width: 100%; height: 2px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); background: #222; z-index: 20;}
#about .controller .swiper-button-next { width: 100%; height: 2px;  color: #D91226;}
#about .controller .swiper-button-prev { width: 100%; height: 2px;  color: #D91226;} */

@media(max-width:1140px){
  #about .swiper_about .swiper-slide {height: 100%;}
  #about .swiper_about .left_box { padding: 0 80px;}
  #about .swiper_about .left_box h3 {font-size: 3rem; font-weight: 700; padding-bottom: 230px;}
  #about .swiper_about .txt_box p {margin: 100px 0; font-size: 1.8rem; white-space: wrap;}
}

@media(max-width:900px){
  #about {padding: 0;}
  #about .swiper_about .left_box { padding: 0 60px;}
  #about .swiper_about .txt_box p {font-size: 1.6rem; margin: 80px 0;}
  #about .swiper_about .left_box h3 {padding: 50px 0 150px;}
}

@media(max-width:700px){
    #about .swiper_about .left_box {width:100%;}
  #about .swiper_about .right_box {display: none;}
  #about .swiper_about .txt_box p {margin: 0; font-size: 1.4rem ;}
  #about .swiper_about .left_box h3 {padding: 30px 0 80px; font-size: 3rem;}
  #about .swiper_about a{ font-size: 1.8rem; width: 80%; }
}

@media(max-width:380px){
  #about .swiper_about .left_box h3 {padding-bottom: 80px;  font-size: 2.5rem;}
  #about .swiper_about a {font-size: 1.6rem; }
}

/* info */
#info {padding:  50px 0; }
#info .inner { position: relative; display: flex; gap: 60px; flex-wrap: wrap; justify-content: space-between;}
#info h2::before { content: "All day hollys"; }
.container {width: 70%; margin-top: 20px;}
#info .col { width: 100%; display: flex; gap: 38px; align-items: flex-start; margin-bottom: 50px;}
#info .right {text-align: right;}
#info .col .img img {width: 100%; height: 100%;}

#info .col .txt_box {padding: 20px 0;}
#info .col p {word-break: keep-all;}
#info .col p.sub_tit {font-size: 2rem; font-weight: 600;}
#info .col p.txt {margin: 38px 0 53px ;}
#info  .col .txt_box a{ font-family: var(--ko-font); font-size: 1.4rem; font-weight: 500; opacity: 0.8; padding: 8px 26px 8px 0;}
#info .col a:hover{color: var(--main-color); opacity: 1;}

@media(max-width:1300px){ 
  #info .col .none {display: none;}
  .container {width: 100%;}
}

@media(max-width:900px){
  #info h2{ width: 100%; text-align: left; margin-bottom: 30px;}
  #info .inner {gap: 0;}
  .container {width: 100%;}
  #info .col { margin-bottom: 30px; gap: 20px;}
  #info .col p.sub_tit {font-size: 1.8rem; font-weight: 600;}
  #info .col p.txt {font-size: 1.4rem; margin: 20px 0 30px;}
  }

  @media(max-width:500px){
    #info {padding:  20px 0 0;}
    #info h2 {margin-bottom: 20px;}
    #info .col {flex-direction: column;}
    #info .col .txt_box {padding: 10px 0; order: 2;}
    #info .right {text-align: left;}
    #info .col p.sub_tit {font-size: 1.6rem; font-weight: 500;}
    #info .col p.txt {font-size: 1.2rem; margin: 6px 0 18px; color:#888;}  
  }

/* competitive */
#num_container {text-align: center; padding: 140px 0;}
.num_wrap {width: 100%; height: 100% ; display: flex; flex-wrap: wrap; justify-content: space-between;}
.num_wrap .inner {padding: 0 80px;}
.num_wrap .compet { width: calc(100% / 3); text-align: center;}

.num_wrap .compet .in-title {font-size: 2.5rem; font-weight: 600;}
.num_wrap .compet span{color: var(--main-color);}
.num_wrap .compet .nums {font-size: 8rem; font-weight: 700; margin: 15px 0 18px;}
.num_wrap .compet .num_unit {font-size: 1.4rem; margin-top: 14px;}
.num_wrap .compet .sub-title { display: inline-block; margin-top: 15px; color: var(--sub-color); font-size: 1.4rem; }

.num_wrap .compet .icon {width: 60px; height: 60px; margin: 0 auto 20px; background-color: #222;}
.num_wrap .compet .icon.icon_01 {background: url(../img/icon_company.png) no-repeat center / contain;}
.num_wrap .compet .icon.icon_02 {background: url(../img/icon_sales.png) no-repeat center / contain;}
.num_wrap .compet .icon.icon_03 {background: url(../img/icon_profit.png) no-repeat center / contain;}

@media(max-width:980px){
  #competitive {padding-bottom:130px;}
  .num_wrap .compet .icon {width: 40px; height: 40px;}
  .num_wrap .compet .in-title {font-size: 1.8rem; font-weight: 500;}
  .num_wrap .compet .nums {font-size: 4rem;}
  .num_wrap .compet .num_unit {font-size: 1rem; margin-top: 10px;}
}

@media(max-width:680px){
  #num_container{padding: 80px 0 60px;}
  .num_wrap .compet .in-title {font-size: 1.6rem;}
  .num_wrap .compet .nums {font-size: 4rem;}
  .num_wrap .compet .sub-title {font-size: 0;}
}

@media(max-width:500px){
  #num_container{padding: 30px 0 20px;}
  .num_wrap .compet .nums {font-size: 3rem;}
  .num_wrap .compet .in-title {font-size: 1.4rem;}
}

/* search */
#search {padding: 120px 0; background: url(../img/search_bg02.png) no-repeat center / cover;}
.tit_box {margin: 0 auto; text-align: center; color: #fff;}
.tit_box h2 {letter-spacing: 2px; font-size: 5.5rem;}
.tit_box p {margin: 8px 0 25px;}
.search_box {width: 100%; margin: 46px auto 0; position: relative;}
.search_box input[type="text"]{ width: 100%; height: auto; font-size: 1.8rem; padding: 15px 25px; border-radius: 100px; font-family: var(--ko-font); outline-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;}

.search_box img{position: absolute; right: 16px; top: 50%; transform: translateY(-50%);}

@media(max-width:768px){
  #search {padding: 50px;}
  #search .inner {margin: 0;}
  .tit_box { margin: 10px auto; }
  .tit_box h2 {font-size: 4rem;}
  .search_box { width: 90%;}
  .tit_box p {margin: 3px 0 18px; font-size: 1.4rem;}
  .search_box { margin: 0 auto;}
  .search_box input[type="text"] { padding: 8px 20px; font-size: 1.6rem;}
}

@media(max-width:380px){
  .tit_box h2 {font-size: 3.5rem;}
  .tit_box p {font-size: 1.2rem;}
  .search_box input[type="text"] { font-size: 1.4rem;}
}

/* notice */
#notice {padding: 100px 0;}
#notice h2 {margin-bottom: 60px;}
#notice h2::before {content: "News · Evnet";}
.news_list { display: flex; gap: 10px; justify-content: space-between; padding: 20px 30px; border-bottom: 1px solid #222; width: 100%; cursor: pointer;}  /* margin: 0 auto;  */
#notice .news_list p{width: 80%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-family: var(--ko-font); } 
.news_list .type { font-size: 1.4rem; font-weight: 300; line-height: 1.6; float: left; border: 1px solid #222; border-radius: 100px; padding: 2px 12px 3px; margin-right: 20px; white-space: nowrap;}

.news_list:hover {color: var(--main-color); border-bottom: 1px solid var(--main-color);}
.news_list:hover .type{border: 1px solid var(--main-color);}


@media(max-width:820px){
  #notice h2 {margin-bottom: 38px;}
  .news_list {padding: 10px 18px;}
  .news_list .type {font-size: 1.4rem; margin-right: 12px;}
  .news_list span {font-size: 1.2rem;}
  .news_list p{font-size: 1.4rem;}
}

@media(max-width: 460px){
  #notice h2 {margin-bottom: 20px;}
  .news_list .type {display: none;}
}

/* footer */
#footer { color: #888; padding: 40px 0 80px; background-color: #eee; font-size: 1.4rem; font-family: var(--ko-font);}
#footer .inner {padding: 0 50px ; }

#footer .f_top {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline;}

.f_logo {width: 120px; height: 18px;}
.f_logo img {width: 100%;}

.corporate {margin: 30px 0 40px;}
.corporate a{display: block; margin-bottom: 4px; color: #888;}

.sns a{display: inline-block; padding: 2px 6px; border-bottom: 1px solid #888; color: #888; margin-right: 10px;}
.sns a:hover { border-bottom: 1px solid var(--main-color); color: var(--main-color); }

.f_menu { margin-top: 50px; width: 30%; }
.f_menu .f_gnb {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: baseline; margin-left: 20px;}
.f_menu .f_gnb li {white-space: nowrap; cursor: pointer;}
.f_menu .f_gnb li:hover .f_gnb_tit{ color: #222;}
.f_menu .f_gnb li.f_depth2:hover {color: var(--main-color);}
.f_gnb_tit {font-weight: 500; font-size: 1.8rem; margin-bottom: 18px;}
.f_depth2 {margin-bottom: 5px; font-size: 1.6rem; font-weight: 400;}

.f_bottom::before {content: ""; display: block; width: 100%; height: 1px; background: #ddd; margin: 40px auto 20px;}
.f_bottom { position: relative; font-weight: 400; font-size: 1.4rem;}
.f_bottom .copy {margin-bottom: 3px;}
.f_bottom .info p{display: inline-block; }

@media(max-width: 1140px) {
  .f_menu .f_gnb { margin: 0; text-align: left;}
  #footer .inner {padding: 0 2%; }
  .corporate a {margin-bottom: 6px;}
}

@media(max-width: 820px) {
  #footer {font-size: 1.2rem;}
  #footer .inner { padding: 0 2%;}
  .f_gnb_tit {margin-bottom: 10px;}
  .sns {width: 100%;}
  .f_bottom {font-size: 1.2rem;}
  .f_menu {display: none;}
}

/* go_top */
.go_top a { z-index: 99; display: block; width: 48px; height: 48px; position: fixed; bottom: 20px; right: 2%; border: 1px solid var(--main-color); background: url(../img/icon_gotop.png) no-repeat center / 20% ,#fff; color: transparent;}
.go_top a:hover {background: url(../img/icon_gotop_w.png) no-repeat center / 20%  var(--main-color);}

@media(max-width: 500px) {
  .go_top a {width: 50px; height: 50px; bottom: 25px;}
}  